*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Target directory
target/

# Netbeans configuration file
nb-configuration.xml
nbproject/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Eclipse configuration files
.project
.settings/
infovip-ear/.project
infovip-ear/.settings/
**/.classpath
infovip-ejb/.classpath
infovip-ejb/.project
infovip-ejb/.settings/
infovip-web/.classpath
infovip-web/.project
infovip-web/.settings/

