<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/data/elasticsearch http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch-1.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


     <mvc:annotation-driven />
    <context:component-scan base-package="com.github.infovip.spring.config"></context:component-scan>
	

	<!--  @deprecated No longer used. Use ElasticsearchTemplate instaed of it. -->
    <bean id="Configuration" class="com.github.infovip.core.Configuration">
        <property name="ES_CLIENT_OPTIONS">
            <map>
                <entry key="127.0.0.1" value="9300" />
            </map>
        </property>
        <property name="ES_CLIENT_SETTINGS">
            <map>
                <entry key="cluster.name" value="elasticsearch" />
                <entry key="client.transport.ping_timeout" value="800s" />
            </map>
        </property>
    </bean>
    
    <bean id="sessionFactory" class="org.springframework.orm.jpa.vendor.HibernateJpaSessionFactoryBean">
    	<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
    
    <bean id="container" class="com.github.infovip.core.Container" scope="request">
        <constructor-arg name="jsManager">
            <bean id="javascriptManager" class="com.github.infovip.core.web.JavascriptManager"/>
        </constructor-arg>
        <constructor-arg name="cssManager">
            <bean id="cSSManager" class="com.github.infovip.core.web.CSSManager"/>
        </constructor-arg>
    </bean>
    
    <bean id="smtpClient" class="com.github.infovip.core.smtp.DefaultSMTPClient" init-method="postInit">
    	<property name="configuration" ref="Configuration"></property>
    </bean>
    
    <!--  Deprecation of TransportClient usage.  -->
    <!--  elasticsearch:transport-client id="esClient" cluster-name="elasticsearch" cluster-nodes="127.0.0.1:9300" client-transport-ping-timeout="800s" / -->
   
   
    <bean id="configurationSupport" class="org.springframework.data.elasticsearch.config.ElasticsearchConfigurationSupport"/>
   
    
    <!--  -
    TransportClient and EntityMapper are no longer user !
    
    <bean id="defaultEntityMapper" class="com.github.infovip.core.elasticsearch.DefaultObjectMapper"></bean>
    <bean name="elasticsearchTemplate" class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate">
        <constructor-arg name="client" ref="esClient"/>
        <constructor-arg name="entityMapper" ref="defaultEntityMapper"></constructor-arg>
    </bean>
    -->
    
    <!--  Moved to ElasticsearchConfiguration -->
    <!--   bean id="defaultElasticsearchConfiguration" class="com.github.infovip.core.DefaultElasticsearchConfiguration" init-method="postConstruct">
    	<property name="template" ref="elasticsearchTemplate"></property>
    </bean 
	
	<bean id="esConnection" class="com.github.infovip.core.elasticsearch.ESConnection" init-method="init">
		<constructor-arg name="esConfiguration" ref="defaultElasticsearchConfiguration" />
	</bean> 
	
	-->

	
	<!--  REPOSITORIES -->    
    <jpa:repositories base-package="com.github.infovip.spring.repositories"/>
    <elasticsearch:repositories base-package="com.github.infovip.spring.elasticsearch.repositories"/>	

	<!--  CONTEXT COMPONENT -->
	<context:component-scan base-package="com.github.infovip.spring.services"></context:component-scan>
	
	
    <!--  CONTEXT CONTAINERS -->  
   <bean id="esContainer" name="esContainer" class="com.github.infovip.core.container.ESContainer" scope="singleton" destroy-method="preDestroy" init-method="postConstruct"></bean>
   <bean id="esContainerWatcher" name="esContainerWatcher" class="com.github.infovip.core.container.ESContainerWatcher" scope="singleton" destroy-method="preDestroy" init-method="postConstruct"></bean>
   <bean id="statisticsManagerContainer" name="statisticsManagerContainer" class="com.github.infovip.core.statistics.StatisticsManager" scope="singleton" destroy-method="preDestroy" init-method="postConstruct"></bean>
   
    
</beans>
