/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 13, 2016, 4:01:10 PM
    Author     : attila
*/


html {
    line-height: 13px;
    font-size: 13px;
    font-size: 10px;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    line-height: 20px;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #212121;
    background-color: #f5f5f5;
}

.panel-default {
    border-color: #e2e9e6;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

* {
    box-sizing: border-box;
}


.panel-heading.title {
    font-size: 18px;
    padding: 10px;
}
.panel-heading {
    padding: 0;
    color: #fff;
    border-bottom: 0;
}
.panel-default > .panel-heading {
    color: #333333;
    background-color: #ffffff;
    border-color: #e2e9e6;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    background: #26a69a;
}

.panel-body {
    padding: 15px;
}


div#main-page-login-form{
    margin: auto;
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
}

div#main-page-central-panel {
    margin: auto;
    width: 60%;
    padding-left: 10%;
    padding-right: 10%;
}


.cover.profile .cover-info .cover-nav > li > a i {
    font-size: 20px;
    vertical-align: middle;
    color: #e4e4e4;
}
.fa-fw {
    width: 1.28571429em;
    text-align: center;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
* {
    box-sizing: border-box;
}
.cover.profile .cover-info .cover-nav > li > a {
    line-height: 20px;
    color: #bebebe;
    font-size: 14px;
    font-weight: 500;
}

a {
    color: #26a69a;
}

.cover.profile .cover-info .cover-nav {
    list-style: none;
}

input .warn-box, .form-control.form-sm.warn-box  {
	border: 1px solid red;
}

span .warn-message ,  span.warn-message {
	color: red;
}
